body {
    background-color: #D5E1EF;
    padding: 60px;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    height: 490%;
    margin: auto;
    padding: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.head, p{
    margin: 15px;
    font-family: "Outfit", sans-serif;
}
.head{
    font-size: 21px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 16px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}